################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyMVCAppCS/Content/images/lakes/OutlyingFells/index.html
/MyMVCAppCS/Content/images/lakes/OutlyingFells/ScoutScar_11December2009.html
/MyMVCAppCS/Content/images/lakes/OutlyingFells/ScoutScar_13December2009.gtm
/MyMVCAppCS/Content/images/lakes/OutlyingFells/ScoutScar_13December2009.html
