################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyMVCAppCS/Content/images/lakes/OutlyingFells/index.html
/MyMVCAppCS/Content/images/lakes/OutlyingFells/ScoutScar_11December2009.html
/MyMVCAppCS/Content/images/lakes/OutlyingFells/ScoutScar_13December2009.gtm
/MyMVCAppCS/Content/images/lakes/OutlyingFells/ScoutScar_13December2009.html
/MyMVCAppCS/Content/images/dalespennines
/walkingDB/walkingDB.dbmdl
/walkingDB/walkingDB.jfm
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_mapandtrack.gif
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_altitudeprofile.gif
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_9.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_8.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_7.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_6.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_5.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_4.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_37.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_36.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_35.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_34.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_33.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_32.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_31.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_30.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_3.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_29.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_28.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_27.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_26.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_25.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_24.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_23.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_22.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_21.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_20.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_2.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_19.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_18.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_17.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_16.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_15.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_14.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_13.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_12.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_11.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_10.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007_1.jpg
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007.html
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007.gtm
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007.gpx
/MyMVCAppCS/Content/images/lakes/23/StSundayCrag_7July2007.gif
