* {
    box-sizing: border-box;
}

/*----------Tag styling----------------------------------------------------*/

body {
    background-color: #8b8c90;
    margin: 20px;
    font-family: "Open Sans", sans-serif;
    font-kerning: auto;
    font-size: 17px;
    color: #fff;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

    a:hover {
        color: #63b6e5;
    }

input[type=text] {
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid grey;
}

    input[type=text]:focus {
        border: 2px solid #555;
    }

select {
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid grey;
}

textarea {
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid grey;
}

select:focus {
    border: 2px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color:  #555;
    border: 3px solid grey;
    border-radius: 10px;
    color: white;
    font-size: larger;
    font-style: bold;
    padding: 15px 10px;
    margin: 4px 2px;
    cursor: pointer;
}

/*------------CSS class definitions------------------------------------------*/
/* navbar with list*/
ul.navbarlist {
    overflow: hidden;
    list-style: none;
    padding: 0;
    position: relative;
}

li {
    margin: 0 10px; /* Gap between LI elements 20px */
}

    li.left {
        float: left;
    }

    li.right {
        float: right;
    }

    li a {
        color: #fff;
    }

sup {
    vertical-align: top;
    font-size: 0.6em;
    color: aqua;
}

/* Top nav bar background image*/
.topnavbarbg-img {
    /* The image used */
    background-image: url("images/topnav.jpg");
    border-radius: 15px;
    min-height: 100px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

/* Top nav bar background image*/
.footernavbarbg-img {
    /* The image used */
    background-image: url("images/footernav.jpg");
    border-radius: 15px;
    min-height: 100px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    margin-top: 20px;
}


/* Position the navbar container inside the image */
.navbarcontainer {
    position: absolute;
    margin: 20px 10px 20px 10px;
    width: 98%;
}

/* Any div which encapsulates top level details about something - walk, hill, etc*/
.details {
    border-radius: 15px;
    background-color: #91949b;
    margin-top: 12px;
    margin-bottom: 12px;
}

.walkdetails {
    border-radius: 15px;
    background-color: #91949b;
    margin-top: 12px;
    margin-bottom: 12px;
    display: table;
}

.walkimage {
    border-radius: 15px;
    border-color: aqua;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.imagecaption {
    display: table-caption;
    caption-side: bottom;
    margin-left: 12px;
}

table {
    width: 100%;  
}

td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td.column1 {
    width: 15%;
    text-align:left;
}

td.column2 {
    width: 48%;
    text-align: left;
}

td.column3 {
    width: 20%;
    text-align: right;
}

td.column4 {
    width: 25%;
    text-align: right;
}


/* Used in HillsInClassification*/

table.datatable {
    border-radius: 1em;
}
    table.datatable tr {
        background-color: #91949b;
    }

    table.datatable th {
  
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 6px;
        text-align: left;
    }

    table.datatable td {
  
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 6px;
    }


table.walksbydate {
    border-radius: 15px;
}

    table.walksbydate tr {
        background-color: #91949b;
    }

    table.walksbydate th {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 6px;
        text-align: left;
    }

    table.walksbydate td {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 6px;
        font-size: smaller;
    }
/* Standalone classes*/

.heading2 {
    font-size: 32px;
    font-weight: bold;
}

.heading3 {
    font-size: 26px;
    font-weight: bold;
}

.heading4 {
    font-size: 22px;
    font-weight: bold;
}

.rowheader {
    font-weight: bold;
}

.gold {
    color: gold;
}

.alignright {
    text-align: right;
}

.aligntop {
    vertical-align: top;
}

.aligncenter {
    text-align: center;
}

.heightcell {
   height: 40px;
}

.spacerdiv {
    height: 20px;
}
.smallertext {
    font-size: smaller;
}

.sitefooter {
    text-align:center;
    font-size: 8pt;
}
