.foot {
    background: #ffffff;
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
    text-align: right;
}

    .foot .left {
        float: left;
    }

    .foot .right {
        float: right;
    }

#hillmap {
    width: 100%;
    height: 680px;
    border-radius: 15px;
}

#walkdetailsmap {
    width: 100%;
    height: 780px;
    border-radius: 15px;
}


.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
}
