

@{
    ViewBag.Title = "Walking MVC App - Home";
}
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Walking MVC App - Home</h2>
    <p>
        Usage Location= @SessionSingleton.Current.UsageLocation
    </p>
</asp:Content>
