@model IEnumerable<MyMVCApp.DAL.Class>

@{ViewBag.Title = "Hill Classifications"; }

    <h2>Hill Classifications</h2>
    
    <table>
        <tr>
            <th colspan="3">Hill Classification</th>
        </tr>

        @{
            int iCounter = 1;

            foreach (MyMVCApp.DAL.Class hillclass in Model)
            {
                if (iCounter == 1)
                {
                    @:<tr>
                }
                @:<td>            
                @Html.ActionLink(hillclass.Classname, "HillsInClassification", new { id = hillclass.Classref })
                @:</td>

                iCounter++;
                if (iCounter == 4)
                {
                    iCounter = 1;
                    @:</tr>
                }
            }
        }
    </table>


